form {
  background-color: #d2aa72;
  padding: 20px;
  border-radius: 5px;
}

form h2 {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 3px;
}

input,
select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 6px 12px;
  border-radius: 3px;
}

.info {
  background-color: #1c4d4b;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}
